target/
*.propertes
*.properties
target/m2e-wtp/web-resources/META-INF/maven/shopping/shopping/pom.xml
target/m2e-wtp/web-resources/META-INF/maven/shopping/shopping/pom.properties
target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
target/m2e-wtp/web-resources/META-INF/maven/shopping/shopping/pom.properties
target/m2e-wtp/web-resources/META-INF/maven/shopping/shopping/pom.xml
target/m2e-wtp/web-resources/META-INF/maven/shopping/shopping/pom.properties
target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
.classpath
target/classes/shopping/config/datasource.propertes
target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
