<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shopping.mapper.CommodityMapper">
	<resultMap type="shopping.model.Commodity" id="commodityMap">
		<id property="commodityId" column="commodity_id"/>
		<result property="name" column="name"/>
		<result property="price" column="price"/>
		<result property="stock" column="stock"/>
		<result property="picture" column="picture"/>
		<result property="category" column="category"/>
	</resultMap>

	<insert id="addCommodityWithoutPicture" useGeneratedKeys="true" keyProperty="commodityId">
		insert into commodity(name, price, stock) values(#{name}, #{price}, #{stock})
	</insert>

	<select id="getCommodityById" resultMap="commodityMap">
		select *
		from commodity
		where commodity_id = #{commodityId}
	</select>
	<update id="reduceCommodity">
		update commodity
		set stock=stock-#{count}
		where commodity_id=#{commodityId}
	</update>
	<update id="updateCommodityForPicture">
		update commodity
		set picture = #{picture}
		where commodity_id=#{commodityId}
	</update>
	<select id="getRecommonds" resultMap="commodityMap">
		select *
		from commodity
		where commodity_id>=(
						((select max(commodity_id) from commodity)
						- 
						(select min(commodity_id) from commodity))
						* rand()
						+
						(select min(commodity_id) from commodity)
					  )
		limit #{count}
	</select>
	<select id="getCommodities" resultMap="commodityMap">
		select *
		from commodity
		order by commodity_id
		limit #{offsize}, #{count}
	</select>
	<select id="getCommodityCount" resultType="int">
		select count(*)
		from commodity
	</select>
</mapper>