<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shopping.mapper.UserMapper">
	<resultMap type="shopping.model.User" id="userMap">
		<id property="id" column="id"/>
		<result property="phoneNum" column="phone_number"/>
		<result property="password" column="password"/>
		<result property="nickname" column="nickname"/>
		<result property="address" column="address"/>
	</resultMap>
	
	<insert id="addUser" parameterType="shopping.model.User" useGeneratedKeys="true" keyProperty="id">
		insert into user(phone_number, nickname, password) values(#{phoneNum}, #{nickname}, #{password})
	</insert>
	
	<select id="getUser" resultMap="userMap">
		select *
		from user
		where phone_number=#{phoneNum} and password=#{password}
	</select>
	
	<select id="verifyUser" resultType="String">
		select phone_number
		from user
		where phone_number=#{phoneNum}
	</select>
	
	<update id="updateNickName" >
		UPDATE user SET nickname=#{nickName}
		WHERE id=#{id}
	</update>
	
	<select id="verifyPassword" resultType="String">
		select id
		from user
		where id=#{id} and password=#{oldPassword}
	</select>
	
	
	<update id="updatePassword" >
		UPDATE user SET password=#{newPassword}
		WHERE id=#{id}
	</update>
	
	<insert id="addAddress" parameterType="shopping.model.Address" useGeneratedKeys="true" keyProperty="address_id">
		insert into address(user_id, address_info, contact_name, contact_phone, is_main) values(#{user_id}, #{address_info}, #{contact_name}, #{contact_phone},#{is_main})
	</insert>
	
	<update id="set_other_address_not_main">
		UPDATE address SET is_main=#{is_main}
		WHERE user_id=#{user_id}
	</update>
	
	<update id="updateAddress">
		UPDATE user SET address = #{address}
		WHERE id=#{userId}
	</update>
	
	
</mapper>